<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Framework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>infrared_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>infrared_ios_lib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>15136E3819AB60A600124BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15136E5C19AB60A700124BCE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1535F1791A48F596001F547C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15BD9FB41A486CC600575935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>15BD9FBE1A486CC600575935</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
